
body
{
    font-family: 'Trebuchet MS';
    color: #FFFFFF;
    font-weight: bold;
    font-size: x-large;
}

#content
{
    width: 640px;
    /*height: 916px; iPhone 4*/
    height: 1092px;
    background-color: #4a4a02;
}

#conditions
{
    width: 600px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    text-align: center;
    font-style: italic;
}

.label
{
    padding: 8px;
}

.box
{
    position: absolute;
    left: 0px;
    top: 0px;
}

.scrollable
{
    overflow: hidden;
    cursor: pointer;
}
.xx-scrollable .box
{
    border: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
}

#updated-box
{
    position: absolute;
    top: 140px;
    left: 20px;
    width: 600px;
    height: 150px;
    border: 1px solid #ffffff;
    background-color: #5a2d6d;
}
#updated-text
{
    margin-top: 25px;
    font-size: 30pt;
    text-align: center;
}
#updated-text-2
{
    margin-top: 25px;
    font-size: 30pt;
    text-align: center;
}

#wax-box
{
    position: absolute;
    top: 300px;
    left: 20px;
    width: 600px;
    height: 150px;
    border: 1px solid #ffffff;
    background-color: #2d406d;
}
#wax-text
{
    margin-top: 0px;
    font-size: 45pt;
    text-align: center;
}
#snow-text
{
    margin-top: 10px;
    font-size: 45pt;
    text-align: center;
}

#wx-box
{
    position: absolute;
    top: 460px;
    left: 20px;
    width: 294px;
    height: 430px;
    border: 1px solid #ffffff;
    background-color: #6d392d;
}
#obs-text
{
    margin-top: 80px;
    font-size: 45pt;
    text-align: center;
}
#forecast-a-text
{
    margin-top: 40px;
    font-size: 30pt;
    text-align: center;
}
#forecast-b-text
{
    margin-top: 40px;
    font-size: 30pt;
    text-align: center;
}

#p8-box
{
    position: absolute;
    top: 460px;
    left: 325px;
    width: 294px;
    height: 209px;
    border: 1px solid #ffffff;
    background-color: #2d6d5a;
}
#p8-text
{
    margin-top: 40px;
    font-size: 35pt;
    text-align: center;
}
#new24-text
{
    margin-top: 40px;
    font-size: 35pt;
    text-align: center;
}

#sun-box
{
    position: absolute;
    top: 680px;
    left: 325px;
    width: 294px;
    height: 209px;
    border: 1px solid #ffffff;
    background-color: #5a2d6d;
}
#lever-text
{
    margin-top: 20px;
    font-size: 35pt;
    text-align: center;
}
#coucher-text
{
    margin-top: 10px;
    font-size: 35pt;
    text-align: center;
}
#semaine-text
{
    margin-top: 20px;
    font-size: 35pt;
    text-align: center;
}
